{{>flash}}

<h1>Заказы</h1>

<div class="add">
    <div class="search-wrap">
        <form action="/admin/orders/search" id="search-form">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="text" name="search-data" placeholder="Поиск..">
        </form>
    </div>
</div>


<table>
    <tr>
        <th>ID</th>
        <th>ФИО</th>
        <th>Номер телефон</th>
        <th>Дата заказа</th>
        <th>Набор</th>
        <th>Действия</th>
    </tr>

    {{#each orders}}
        <tr>
            <td>
                <span>{{this.number}}</span>
            </td>
            <td>
                <span>{{this.name.lastName}} {{this.name.firstName}} {{this.name.patronymic}}</span>
            </td>
            <td>
                <span>{{this.phone}}</span>
            </td>
            <td>
                <span>{{this.dateView}}</span>
            </td>
            <td>
                <span>{{this.bundle}}</span>
                {{#if this.viewStatus}}
                    <div class="order-active" id="{{this._id}}"></div>
                {{/if}}
            </td>
            <td>
                <a href="/admin/orders/delete?id={{this._id}}">Удалить</a>
            </td>
        </tr>
    {{/each}}
</table>

<div class="pages">
    <span>Показаны {{countInfo.startRecord}} - {{countInfo.endRecord}} из {{countInfo.count}} записей</span>

    <ul>
        {{#each pages}}
            <li>
                {{#if addBlock}}
                    <div class="ellipsis">
                        {{content}}
                    </div>
                {{else}}
                    {{#if current}}
                        <a class="{{class}} {{classActive}}" href="{{route}}page={{id}}">{{content}}</a>
                    {{else}}
                        <a class="{{class}}" href="{{route}}page={{id}}">{{content}}</a>
                    {{/if}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>


<script>
    var csrf = '{{csrf}}';
</script>
<script src="/js/admin/order/view-order.js"></script>
<script src="/js/admin/order/search.js"></script>
<script src="/js/flash.js"></script>