<div class="pages">
    <span>Показаны {{countInfo.startRecord}} - {{countInfo.endRecord}} из {{countInfo.count}} записей</span>

    <ul>
        {{#each pages}}
            <li>
                {{#if addBlock}}
                    <div class="ellipsis">
                        {{content}}
                    </div>
                {{else}}
                    {{#if current}}
                        <a class="{{class}} {{classActive}}" href="{{route}}page={{id}}">{{content}}</a>
                    {{else}}
                        <a class="{{class}}" href="{{route}}page={{id}}">{{content}}</a>
                    {{/if}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>
