{{>flash}}

<h1>Отзывы</h1>

<div class="add">
    <div class="search-wrap">
        <form action="/admin/comments/search" id="search-form">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <input type="text" name="search-data" placeholder="Поиск..">
        </form>
    </div>
    <a href="/admin/comments/create">Добавить отзыв+</a>
</div>

<table>
    <tr>
        <th>ID</th>
        <th>Имя</th>
        <th>Купленный набор</th>
        <th>Текст</th>
        <th>Язык</th>
        <th>Выводиться на лендинге</th>
        <th>Действия</th>
    </tr>

    {{#each comments}}
        <tr>
            <td>
                <span>{{this.number}}</span>
            </td>
            <td>
                <span>{{this.name.lastName}} {{this.name.firstName}}</span>
            </td>
            <td>
                <span>{{this.bundle}}</span>
            </td>
            <td>
                <span>{{this.text}}</span>
            </td>
            <td>
                <span>{{this.type}}</span>
            </td>
            <td>
                <span>{{this.isActive}}</span>
            </td>
            <td>
                <a href="/admin/comments/view?id={{this._id}}">Просмотр</a>
                <a href="/admin/comments/edit?id={{this._id}}">Редактировать</a>
                <a href="/admin/comments/delete?id={{this._id}}">Удалить</a>
            </td>
        </tr>
    {{/each}}
</table>

<div class="pages">
    <span>Показаны {{countInfo.startRecord}} - {{countInfo.endRecord}} из {{countInfo.count}} записей</span>

    <ul>
        {{#each pages}}
            <li>
                {{#if addBlock}}
                    <div class="ellipsis">
                        {{content}}
                    </div>
                {{else}}
                    {{#if current}}
                        <a class="{{class}} {{classActive}}" href="{{route}}page={{id}}">{{content}}</a>
                    {{else}}
                        <a class="{{class}}" href="{{route}}page={{id}}">{{content}}</a>
                    {{/if}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>

<script>
    var csrf = '{{csrf}}';
</script>
<script src="/js/admin/comment/search.js"></script>
<script src="/js/flash.js"></script>
