{{>flash}}

<div class="title wrap-row">
    <h1>Отзывы</h1>
</div>

<div class="add wrap-row">
    <div class="search-wrap">
        <form action="/admin/comments/search" id="search-form">
            <input type="hidden" name="_csrf" value="{{csrf}}">
            <div>
                <img src="/img/admin/search.svg">
            </div>
            <input type="text" name="search-data" placeholder="Поиск..">
        </form>
    </div>
    <a class="btn-add" href="/admin/comments/create">Добавить отзыв+</a>
</div>

<div class="table-wrap wrap-row">
    <table class="tableView" border=0>
        <tr>
            <th>ID</th>
            <th>Имя</th>
            <th>Купленный набор</th>
            <th>Текст</th>
            <th>Язык</th>
            <th>Выводиться <br> на лендинге</th>
            <th>Действия</th>
        </tr>
    
        {{#each comments}}
        <tr>
            <td>
                <span>{{this.number}}</span>
            </td>
            <td>
                <span>{{this.name.lastName}} {{this.name.firstName}}</span>
            </td>
            <td>
                <span>{{this.bundle}}</span>
            </td>
            <td>
                <span>{{this.text}}</span>
            </td>
            <td>
                <span>{{this.type}}</span>
            </td>
            <td>
                <span>{{this.isActive}}</span>
            </td>
            <td>
                <a href="/admin/comments/view?id={{this._id}}"><i class="far fa-eye"></i></a>
                <a href="/admin/comments/edit?id={{this._id}}"><i class="far fa-edit"></i></a>
                <a href="/admin/comments/delete?id={{this._id}}"><i class="fas fa-trash"></i></i></a>
            </td>
        </tr>
        {{/each}}
    </table>
</div>

<div class="pages wrap-row">
    <p>Показаны <span>{{countInfo.startRecord}}</span> - <span>{{countInfo.endRecord}}</span> из <span>{{countInfo.count}}</span> записей</p>

    <ul>
        {{#each pages}}
            <li>
                {{#if addBlock}}
                    <div class="ellipsis">
                        {{{content}}}
                    </div>
                {{else}}
                    {{#if current}}
                        <a class="{{class}} {{classActive}}" href="{{route}}page={{id}}">{{{content}}}</a>
                    {{else}}
                        <a class="{{class}}" href="{{route}}page={{id}}">{{{content}}}</a>
                    {{/if}}
                {{/if}}
            </li>
        {{/each}}
    </ul>
</div>

<script>
    var csrf = '{{csrf}}';
</script>
<script src="/js/admin/comment/search.js"></script>
<script src="/js/flash.js"></script>
