<div class="title">
    <h1>Отзыв</h1>
    <span>Просмотр id: {{comment.number}}</span>
</div>

<div class="add">
    <a class="btn-add bth-back" href="/admin/comments">&larr; Все отзывы</a>
</div>

<div class="view-content">
    <div class="col-1">
        <table class="gridView">
            <tr>
                <td>ID</td>
                <td>{{comment.number}}</td>
            </tr>
            <tr>
                <td>ФИ</td>
                <td>{{comment.name.lastName}} {{comment.name.firstName}}</td>
            </tr>
            <tr>
                <td>Купленный набор</td>
                <td>{{comment.bundle}}</td>
            </tr>
            <tr>
                <td>Текст</td>
                <td>{{comment.text}}</td>
            </tr>
            <tr>
                <td>Язык</td>
                <td>{{comment.type}}</td>
            </tr>
            <tr>
                <td>Выводится в лендинге</td>
                <td>{{comment.isActive}}</td>
            </tr>
        </table>
    </div>
    <div class="col-2">
        <img src="/img/comments/{{comment.img}}" alt="">
    </div>
</div>



